<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .wrapper {text-align: center;}
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/login"> Login </a>
</nav>

<div class="jumbotron">
    <h2 class="display-5">Step Project by:</h2>
    <hr class="my-6">
    <p><strong>Allahsukur Mirzazade</strong></p>
    <a href="https://www.google.com">github account</a>
    <hr class="my-6">
    <p><strong>Timur Huseynov</strong></p>
    <a href="https://www.google.com">github account</a>
    <hr class="my-6">
    <p><strong>Jalil Ahmadov</strong></p>
    <a href="https://www.google.com">github account</a>

</div>

<div class="container">
    <div class="wrapper">
        <a class="btn btn-lg alert-primary" href="/login">Login to continue</a>
    </div>


    <hr class="my-4">
    <table border="1">
        <thead>
            <tr>
                <td><h4>Email</h4></td>
                <td><h4>Password</h4></td>
            </tr>

        </thead>
        <tbody>

        <tr>
            <td>
                timur@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                jalil@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                alik@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                jim@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                jeremy@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                john@tinder.com
            </td>
            <td>
                123
            </td>
        </tr>
        </tbody>

    </table>


</div>


</body>
</html>